/* =================================
 * 	クラブ智 TOPページ
 * ------------------------------ */
@use "../styles/foundation/" as *;
/* stylelint-disable no-descending-specificity */
/* stylelint-disable keyframes-name-pattern */
/* stylelint-disable custom-property-pattern */
// このファイル全体のルールを無効にする

/* =================================
 * ご挨拶
 * ------------------------------ */
.containerGreeting {
    aspect-ratio: $section-aspect;
    background: url("/images/bg-greeting.webp") no-repeat center center/cover;
    display: flex;
    @include sp {
        aspect-ratio: unset;
        background: unset;
    }
    article {
        position: relative;
        clip-path: url("#greeting-mask");
        width: unset;
        height: 100%;
        aspect-ratio: 825/1024;
        color: $dark-brown;
        padding-left: 10vw;
        padding-top: 9vw;
        @include sp {
            clip-path: unset;
            aspect-ratio: unset;
            padding: 10vw 4vw;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &::before,
        &::after {
            content: "";
            position: absolute;
            inset: 0;
            z-index: -1;
        }
        &::before {
            background: url("/images/greeting-article-bg.webp") no-repeat center
                center / cover;
        }
        &::after {
            background-color: #e2d4c5;
            mix-blend-mode: multiply;
        }
        h2 {
            font-size: clamp(2rem, 3vw, 4rem);
            letter-spacing: 0.1em;
            display: flex;
            gap: 0.3em 0;
            flex-direction: column;
            span {
                padding-left: 4em;
            }
            @include sp {
                font-size: 5.2vw;
                letter-spacing: 0.24em;
                padding-left: 2vw;
            }
        }
        h3 {
            font-size: FZ(14);
            letter-spacing: 1.1em;
            margin-top: 4vw;
            @include sp {
                font-size: FZ(16);
                margin-top: 8vw;
            }
        }
        p {
            font-size: clamp(1.2rem, 1.5vw, 2rem);
            margin-top: 1.6em;
            line-height: 2em;
            letter-spacing: 0.05em;
            @include sp {
                font-size: FZ(16);
                text-align: center;
                margin-top: 4vw;
                line-height: 1.6em;
            }
        }
    }
}

/* =================================
 * SYSTEM
 * ------------------------------ */
.containerSystem {
    aspect-ratio: $section-aspect;
    background: url("/images/bg-system.webp") no-repeat center center/cover;
    display: flex;
    justify-content: center;
    padding-inline: 2vw;
    @include sp {
        aspect-ratio: unset;
        padding: 0;
    }
    article {
        max-width: 68rem;
        background: url("/images/bg-brown-image.webp") no-repeat center center /
            cover;
        padding-top: 10rem;
        color: $main-white;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include Sans;
        @include sp {
            max-width: unset;
            padding: 10vw 8vw;
        }
        h2 {
            @include Futura;
            color: $light-brown;
            text-transform: uppercase;
            font-size: FZ(16);
            letter-spacing: 0.3em;
        }
        .boxMainMenu {
            font-size: inherit;
            display: flex;
            flex-direction: column;
            align-items: center;
            dl {
                position: relative;
                font-size: inherit;
                display: grid;
                grid-template-columns: auto auto;
                gap: 0.5rem 0;
                margin-top: 7rem;
                div {
                    grid-column: span 2;
                    display: grid;
                    grid-template-columns: subgrid;
                    gap: 0 1em;
                    font-size: inherit;
                    dt {
                        font-size: initial;
                        text-align: right;
                        font-weight: 300;
                    }
                    dd {
                        font-size: initial;
                        font-weight: 300;
                    }
                    em {
                        font-size: 1.25em;
                        letter-spacing: 0.1em;
                    }
                }
            }
            .itemTax {
                font-size: FZ(16);
                font-weight: 300;
                margin-top: 4rem;
            }
            h3 {
                font-size: FZ(12);
                font-weight: 300;
                margin-top: 1.6em;
            }
            p {
                font-size: FZ(12);
                font-weight: 300;
            }
        }
        .boxFreeDrink {
            border-top: 1px solid $light-brown;
            border-bottom: 1px solid $light-brown;
            width: 100%;
            max-width: 50rem;
            margin-top: 3rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-block: 2rem;
            font-size: inherit;
            @include sp {
                max-width: unset;
                padding-block: 6vw;
            }
            h3 {
                @include Futura;
                font-size: FZ(16);
                text-transform: capitalize;
                letter-spacing: 0.3em;
            }
            span {
                font-size: FZ(16);
                font-weight: 300;
                margin-top: 5rem;
                @include sp {
                    margin-top: 6vw;
                    font-size: FZ(18);
                    text-align: center;
                }
            }
            .wrapSoftDrink {
                font-size: inherit;
                background-color: #54341c;
                display: flex;
                align-items: center;
                border-radius: 5px;
                padding: 0.5em 1em;
                margin-top: 1rem;
                gap: 0 1em;
                @include sp {
                    flex-direction: column;
                    padding: 2vw 4vw;
                    gap: 2vw 0;
                }
                h4 {
                    font-size: FZ(16);
                    font-weight: 300;
                    width: 11em;
                    display: inline-block;
                    position: relative;
                    @include sp {
                        width: 100%;
                        text-align: center;
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        top: 50%;
                        translate: 0 -50%;
                        width: 1px;
                        height: 120%;
                        background-color: $light-brown;
                        left: calc(100% - 0.1em);
                        @include sp {
                            left: 50%;
                            translate: -50%;
                            top: calc(100% + 1vw);
                            width: 100%;
                            height: 1px;
                        }
                    }
                }
                ul {
                    font-size: inherit;
                    display: flex;
                    flex-wrap: wrap;
                    @include sp {
                        justify-content: center;
                    }
                    li {
                        font-weight: 300;
                        font-size: FZ(14);
                        &:not(:last-of-type) {
                            &::after {
                                content: "/";
                                margin-inline: 0.3em;
                            }
                        }
                    }
                }
            }
        }
        .boxFoodMenu {
            font-size: inherit;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 3rem;
            padding-bottom: 3rem;
            @include sp {
                padding: 10vw 0 0;
            }
            h3 {
                @include Futura;
                font-size: FZ(16);
                text-transform: capitalize;
                letter-spacing: 0.3em;
            }
            dl {
                position: relative;
                font-size: inherit;
                display: grid;
                grid-template-columns: auto auto;
                gap: 0.5rem 0;
                margin-top: 5rem;
                div {
                    grid-column: span 2;
                    display: grid;
                    grid-template-columns: subgrid;
                    gap: 0 1em;
                    font-size: inherit;
                    dt {
                        font-size: initial;
                        text-align: right;
                        font-weight: 300;
                    }
                    dd {
                        font-size: initial;
                        font-weight: 300;
                    }
                    em {
                        font-size: 1.25em;
                        letter-spacing: 0.1em;
                    }
                }
            }
        }
    }
}

/* =================================
 * お部屋紹介
 * ------------------------------ */
.containerRoomInfo {
    aspect-ratio: $section-aspect;
    display: flex;
    z-index: 2;
    @include sp {
        aspect-ratio: unset;
        flex-direction: column;
        width: 100%;
    }
    .roomInfoImage {
        position: relative;
        width: 100%;
        aspect-ratio: 394/262;
        @include sp {
            display: none;
        }
    }
    article {
        position: absolute;
        top: 0;
        right: 0;
        width: 55vw;
        height: 100%;
        color: $dark-brown;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-top: 8vw;
        @include sp {
            display: none;
        }
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: url("/images/room-mask.webp") no-repeat center center /
                cover;
            z-index: -1;
        }
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            width: 52vw;
            background: url("/images/corner-object.webp") no-repeat center
                center / cover;
            aspect-ratio: 980/653;
            z-index: 1;
        }
        h2 {
            padding-right: 10vw;
            font-size: clamp(2rem, 3vw, 4rem);
            letter-spacing: 0.25em;
        }
        nav {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 0.5rem;
            font-size: inherit;
            margin-top: 3vw;
            z-index: 2;
            .roomInfoMenuItem {
                position: relative;
                font-size: clamp(1.6rem, 1.7vw, 4rem);
                padding-block: 0.8em;
                padding-right: 10vw;
                padding-left: 8vw;
                cursor: pointer;
                letter-spacing: 0.04em;
                transition:
                    color 0.2s,
                    border-color 0.2s;
                display: flex;
                justify-content: flex-end;
                &::before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                    background-image: linear-gradient(
                        to left,
                        rgba($main-red, 1),
                        rgba($main-red, 1) 50%,
                        rgba($main-red, 0) 100%
                    );
                    inset: 0 0 0 100%;
                    transition: 0.3s ease-out;
                }
                &:hover {
                    color: $light-brown;
                }
                &.roomInfoMenuItemActive {
                    color: $main-white;
                    &::before {
                        inset: 0;
                    }
                }
            }
        }
    }
    .roomInfoSp {
        display: none;
        @include sp {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        .roomSlide {
            position: relative;
            width: 100%;
            aspect-ratio: 394/262;
        }
        .roomSlideName {
            position: absolute;
            bottom: 0;
            right: 0;
            background-color: rgba($main-red, 0.85);
            color: $main-white;
            padding: 0.4em 1em;
            font-size: 1.4rem;
            letter-spacing: 0.15em;
            i {
                @include Futura;
                font-size: 1.2rem;
            }
        }
        :global(.splide__pagination) {
            bottom: -6vw;
            gap: 0 2vw;
        }
        :global(.splide__pagination__page) {
            background-color: $dark-brown;
            width: 2.4vw;
            height: 2.4vw;
            aspect-ratio: 1;
        }
        :global(.splide__pagination__page.is-active) {
            background: $main-red;
            opacity: 1;
            transform: scale(1);
        }
        .roomInfoSpTitle {
            position: relative;
            padding: 8vw 0 6vw;
            text-align: center;
            color: $dark-brown;
            &::before,
            &::after {
                content: "";
                position: absolute;
                inset: 0;
                z-index: -1;
            }
            &::before {
                background: url("/images/greeting-article-bg.webp") no-repeat
                    center center / cover;
            }
            &::after {
                background-color: #e2d4c5;
                mix-blend-mode: multiply;
            }
            h2 {
                font-size: clamp(2rem, 6vw, 3rem);
                letter-spacing: 0.25em;
            }
        }
    }
}

/* =================================
 * 女性フロアキャスト募集
 * ------------------------------ */
.containerRecruit {
    aspect-ratio: $section-aspect;
    background-color: $dark-brown;
    @include sp {
        aspect-ratio: unset;
        padding: 0;
    }
    &::before {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
        bottom: 24%;
        background: url("/images/bg-recruit.webp") no-repeat center center /
            contain;
        z-index: -1;
        @include sp {
            bottom: unset;
            top: 0;
            height: unset;
            aspect-ratio: 168/112;
        }
    }
    &::after {
        content: "";
        position: absolute;
        inset: 0;
        z-index: -1;
        background-image: linear-gradient(
            to top,
            rgba($dark-brown, 1),
            rgba($dark-brown, 1) 30%,
            rgba($dark-brown, 0) 100%
        );
        @include sp {
            background-image: linear-gradient(
                to top,
                rgba($dark-brown, 1),
                rgba($dark-brown, 1) 70%,
                rgba($dark-brown, 0) 100%
            );
        }
    }
    article {
        position: static;
        color: $main-white;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 16vw;
        padding-bottom: 3vw;
        @include Sans;
        @include sp {
            padding: 14vw 4vw;
        }
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 26.6vw;
            aspect-ratio: 364/524;
            background: url("/images/recruit-object-head.webp") no-repeat center
                center / contain;
        }
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 0;
            width: 25.3vw;
            aspect-ratio: 346/481;
            background: url("/images/recruit-object-bottom.webp") no-repeat
                center center / contain;
        }
        h2 {
            font-size: FZ(14);
            letter-spacing: 0.3em;
            @include sp {
                font-size: FZ(16);
                letter-spacing: 0.2em;
            }
        }
        .sidebarH2 {
            @include Serif;
            font-size: clamp(2.4rem, 3.5vw, 4.8rem);
            display: flex;
            flex-direction: column;
            letter-spacing: 0.17em;
            color: #e2d4c5;
            gap: 0.3em 0;
            margin-top: 0.5em;
            @include sp {
                align-items: center;
            }
            span {
                padding-left: 3.6em;
                @include sp {
                    padding-left: unset;
                }
            }
        }
        .announce {
            font-size: FZ(20);
            @include Serif;
            text-align: center;
            line-height: 1.8em;
            margin-top: 2em;
            @include sp {
                font-size: FZ(16);
            }
        }
        .boxDetails {
            font-size: inherit;
            position: relative;
            display: flex;
            gap: 0 1em;
            margin-top: 1.4em;
            @include sp {
                display: contents;
            }
            .wrapLeft,
            .wrapRight {
                position: relative;
                font-size: inherit;
                display: flex;
                flex-direction: column;
                align-items: center;
                @include sp {
                    display: contents;
                }
                .itemHead {
                    font-size: inherit;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    border: 1px solid $main-red;
                    height: 5em;
                    justify-content: center;
                    padding-inline: 2em;
                    color: #ffc800;
                    letter-spacing: 0.1em;
                    @include sp {
                        width: 100%;
                        align-items: flex-start;
                        height: unset;
                        padding: 4vw 4vw 4vw 8vw;
                    }
                    span {
                        font-size: FZ(16);
                        font-weight: 500;
                        em {
                            font-size: 2em;
                        }
                    }
                }
                .innerDetails {
                    font-size: inherit;
                    padding-top: 1em;
                    @include sp {
                        padding-top: 4vw;
                        width: 100%;
                    }
                    h4 {
                        position: relative;
                        font-size: FZ(16);
                        font-weight: 300;
                        letter-spacing: 0.05em;
                        padding-block: 0.5em;
                        z-index: 1;
                        margin-bottom: 0.5em;
                        &::before {
                            content: "";
                            position: absolute;
                            top: 0;
                            right: 0;
                            width: calc(100% + 2em);
                            height: 100%;
                            z-index: -1;
                            background-image: linear-gradient(
                                to right,
                                rgba($main-red, 1),
                                rgba($main-red, 1) 50%,
                                rgba($main-red, 0) 100%
                            );
                        }
                    }
                    p {
                        font-size: FZ(16);
                        font-weight: 300;
                        line-height: 1.8em;
                        letter-spacing: 0.05em;
                    }
                }
            }
            .wrapLeft {
                .itemHead {
                    @include sp {
                        margin-block: 4vw;
                    }
                }
                .innerDetails {
                    @include sp {
                        order: 1;
                    }
                }
            }
        }
        .linkTel {
            border-radius: 100vmax;
            background-color: #54341c;
            font-size: FZ(16);
            padding: 0.8em 2em;
            margin-top: 2rem;
            @include sp {
                order: 1;
            }
            span {
                @include Futura;
                font-size: 1.25em;
                letter-spacing: 0.1em;
            }
        }
        .bottomAnnounce {
            color: #ffc800;
            font-size: FZ(16);
            font-weight: 500;
            margin-top: 1.6em;
            @include sp {
                order: 1;
                margin-block: 4vw;
            }
        }
        nav {
            font-size: inherit;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            margin-top: 1rem;
            gap: 0 1rem;
            order: 1;
            z-index: 2;
            @include sp {
                grid-template-columns: unset;
                grid-auto-flow: row;
                width: 80vw;
                gap: 2vw 0;
                margin-top: unset;
            }
            a {
                font-size: inherit;
                @include flex-center;
                width: 20em;
                border-radius: 5px;
                height: 64px;
                @include sp {
                    width: 100%;
                    height: 14vw;
                }
                &.linkWeb {
                    background-color: $main-red;
                }
                &.linkLine {
                    background-color: #309834;
                }
            }
        }
    }
}

/* =================================
 * ACCESS
 * ------------------------------ */
.containerAccess {
    padding-inline: 2vw;
    display: flex;
    justify-content: center;
    @include sp {
        padding: 0;
    }
    &::before,
    &::after {
        content: "";
        position: absolute;
        inset: 0;
        z-index: -1;
    }
    &::before {
        background: url("/images/greeting-article-bg.webp") no-repeat center
            center / cover;
    }
    &::after {
        background-color: #e2d4c5;
        mix-blend-mode: multiply;
    }
    article {
        max-width: 110rem;
        padding-top: 5rem;
        padding-bottom: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include sp {
            padding: 10vw 4vw;
        }
        h2 {
            @include Futura;
            color: $main-red;
            text-transform: uppercase;
            font-size: FZ(24);
            letter-spacing: 0.15em;
        }
        .boxAddress {
            font-size: inherit;
            display: flex;
            margin-top: 2rem;
            align-items: center;
            gap: 0 1rem;
            @include sp {
                order: 1;
                flex-direction: column;
                margin-top: 2vw;
            }
            address {
                @include Sans;
                font-size: FZ(20);
                @include sp {
                    font-size: FZ(16);
                }
            }
            .linkMap {
                font-size: inherit;
                background-color: $main-red;
                border-radius: 5px;
                width: 11rem;
                text-align: center;
                margin-top: 3px;
                padding: 0.3em;
                @include sp {
                    padding: 2vw;
                }
                span {
                    position: relative;
                    @include Futura;
                    font-size: FZ(20);
                    letter-spacing: 0.1em;
                    text-transform: uppercase;
                    padding-left: 2.4rem;
                    color: $main-white;
                    &::before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 0;
                        translate: 0 -50%;
                        width: 1.7rem;
                        @include svg-icon-map("fff");
                    }
                }
            }
        }
        .boxMap {
            position: relative;
            width: 100%;
            margin-top: 1rem;
            @include sp {
                margin-top: 1vw;
            }
            iframe {
                width: 100%;
                aspect-ratio: 2.6;
                @include sp {
                    aspect-ratio: 1.4;
                }
            }
        }
    }
}
