/* =================================
 * 	クラブ智 HEADER
 * ------------------------------ */
@use "../../styles/foundation" as *;
.containerHeader {
    aspect-ratio: $section-aspect;
    background: url("/images/bg-header.webp") no-repeat center center/cover;
    display: flex;
    @include sp {
        aspect-ratio: unset;
    }
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        width: 52vw;
        background: url("/images/corner-object.webp") no-repeat center center /
            cover;
        aspect-ratio: 980/653;
    }
    article {
        color: $base-white;
        width: fit-content;
        padding-left: 7vw;
        padding-top: 7vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include sp {
            width: 100%;
            padding: 10vw 0;
        }
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            background: url("/images/header-mask.webp") no-repeat center
                center/cover;
            aspect-ratio: 980/1322;
            z-index: -1;
            @include sp {
                left: unset;
                right: 50%;
            }
        }
        h1 {
            width: 17vw;
            @include sp {
                width: 30vw;
            }
            svg {
                width: 100%;
                fill: #ebebeb;
                aspect-ratio: 305/390;
            }
        }
        .itemTime {
            font-size: FZ(16);
            @include Futura;
            text-transform: uppercase;
            letter-spacing: 0.15em;
            margin-top: 1em;
            display: flex;
            gap: 0 0.5em;
        }
        .linkTel {
            @include Futura;
            font-size: FZ(26);
            letter-spacing: 0.05em;
        }
        .linkMap {
            font-size: inherit;
            background-color: $main-red;
            border-radius: 5px;
            padding: 0.3em;
            width: 11rem;
            text-align: center;
            margin-top: 3px;
            span {
                position: relative;
                @include Futura;
                font-size: FZ(20);
                letter-spacing: 0.1em;
                text-transform: uppercase;
                padding-left: 2.4rem;
                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 0;
                    translate: 0 -50%;
                    width: 1.7rem;
                    @include svg-icon-map("fff");
                }
            }
        }
        nav {
            font-size: inherit;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 4vw;
            gap: 2.6vw 0;
            @include sp {
                gap: 4vw 0;
                margin-top: 8vw;
            }
            a {
                font-size: clamp(1rem, 1.5vw, 4rem);
                letter-spacing: 0.25em;
                @include sp {
                    font-size: FZ(20);
                }
            }
        }
    }
}
